*{
    margin: 0;
    padding: 0;
    font-family: bungee Spice;
    font-family: 'Krub', sans-serif;
    font-weight: bold;

}
:root{
  --celeste: #009ADA;
  --fucsia: #B8007C;
  --azul: #005DA3;
  --morado: #321E5B;
  --amarillo: #FAFF00;
  --blanco: #FFFFFF;
  --negro: #1E1E1E;
  --verde: #00BB2D;
  --gris: #D9D9D9;
  --gris_oscuro: #8C8B8B;
}
.span{
  font-weight: bold;
}


@media (max-width: 1000px){

    /* menu y barra lateral */
    header{
        background-color: var(--celeste);
        display: flex;
        z-index: 9999;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .logo{
      height: 65px;
    }

    .logo img{
        width: 65px;
        height: 65px;
    }

/* menu emergente */

	.container .btn-menu label{
		color: black;
		font-size: 200px;
		cursor: pointer;
	}

  #btn-menu{
		display: none;
	}
	.container-menu{
    z-index: 9999;
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;right: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
    background-color: var(--celeste);
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: var(--blanco);
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: var(--azul);
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

  .cont-menu .numeros{
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--azul);
  }
  .numeros .num1{
    border-radius: 10px;
    background-color: var(--celeste);
    height: 50px;
    width: 80%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .numeros h2{
    margin: 15px;
  }



/* titulos y parrafos */
  .inicio{
    background-color: var(--celeste);
  }
  .titulo_1{
    padding-top: 130px;
    color: var(--blanco);
    text-transform: uppercase;
  }

  h1{
    text-align: center;
    font-size: 25px;
  }

  h2{
    text-align: center;
    font-size: 25px;
  }

  p{
    padding: 15px;
  }
  

  .titulo_2 h1{
    padding: 8px;
    color: var(--blanco);
    background-color: var(--fucsia);
  }

/* imagenes en carrucel */
  
  .slider{
    width: 95vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track{
    display: flex;
    align-items: center;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 10);
  }
  .slider .slide{
    width: 75px;
  }
  .slider .slide img{
    width: 100%;
  }

  @keyframes scroll {
    0%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100%{
      -webkit-transform: translateX(calc(-200px * 5));
      transform: translateX(calc(-200px * 5));
    }
  }

/* -----------------------------------   */
  .contamos{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: var(--azul);
  }
  .contamos .ofrecemos{
    text-align: center;
    color: var(--blanco);
  }
  .ofrecemos span{
    color: var(--negro);
    font-weight: bold;
  }

  .servicios{
    margin: 15px;
  }
  .servicios h2{
    color: var(--morado);
  }
  .servicios p{
    margin: 0;
  }
  .servicios .boton{
    display: flex;
    width: 7rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    color: var(--blanco);
    background-color: var(--negro);
    font-weight: bold;
    text-decoration: none;
  }

  .botones_fijos{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 5px;
    right: 5px;
  }

  .botones_fijos a{
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  .boton1{
    color: var(--blanco);
    background-color: var(--azul);
  }
  .boton2{
    color: var(--blanco);
    background-color: var(--verde);
  }

  .parte_2{
    display: flex;
        flex-direction: column;
        align-items: center;
  }
  .parte_2 h2{
    color: var(--morado);
    text-align: center;

  }
  .parte_2 p{
    text-align: left;
  }
  .parte_2 .objeto{
    height: 11rem;
    width: 50%;
    background-color: var(--gris);
    border-radius: 10px;
  }
  .camp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .equip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .equip .objeto{
    display: none;
  }


  .parte_3{
    display: flex;
        flex-direction: column;
        align-items: center;
  }
  .parte_3 h2{
    color: var(--fucsia);
    text-align: center;
  }
  .parte_3 p{
    text-align: left;
  }
  .botontoidea{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .boton_idea{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--negro);
    
  }

  .parte_4{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .tarjeta1{
    text-align: center;
    border: 1px solid black;
    width: 75%;
    margin: 15px;
    border-radius: 15px;
    background-color: var(--azul);
  }
  
  .tarjeta{
    text-align: center;
    background-color: var(--gris);
    width: 75%;
    height: 150px;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tarjeta p{
    color:var(--fucsia)
  }
  .tarjeta2{
    text-align: center;
    background-color: var(--gris_oscuro);
    width: 75%;
    height: 80px;
    margin: 15px;
    border-radius: 15px;
  }
  .parrafo .text_extra{
    display: none;
  }

  footer{
    background-color: blue;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
  }
}

/* generales */

header{
    background-color: var(--celeste);
}
.inicio{
  background-color: var(--celeste);
  color: var(--blanco);
  font-size: rem;
  padding: 0 15vw;
}
.titulo_1{
  color: var(--blanco);
  text-transform: uppercase;
}

h1{
  text-align: center;
  font-size: 25px;
}

h2{
  text-align: center;
  font-size: 25px;
}

p{
  padding: 15px;
}


.titulo_2 h1{
  color: var(--blanco);
  background-color: var(--fucsia);
}


/* carrucel de fotos */
.slider{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track{
  display: flex;
  align-items: center;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: calc(200px * 10);
}
.slider .slide{
  width: 75px;
}
.slider .slide img{
  width: 100%;
}

@keyframes scroll {
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform: translateX(calc(-200px * 5));
    transform: translateX(calc(-200px * 5));
  }
}

/* -------------------------------------- */

.contamos{
  display: flex;
  justify-content: space-around;
  background-color: var(--azul);
}
.contamos .ofrecemos{
  text-align: center;
  color: var(--blanco);
}
.ofrecemos span{
  color: var(--negro);
  font-weight: bold;
}

.servicios{
  margin: 15px;
}
.servicios h2{
  color: var(--morado);
}
.servicios p{
  margin: 0;
}
.servicios .boton{
  display: flex;
  width: 7rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
  color: var(--blanco);
  background-color: var(--negro);
  font-weight: bold;
  text-decoration: none;
}

.botones_fijos{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.botones_fijos a{
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
}
.boton1{
  color: var(--blanco);
  background-color: var(--azul);
}
.boton2{
  color: var(--blanco);
  background-color: var(--verde);
}

.parte_2{
  display: flex;
      flex-direction: column;
      align-items: center;
}
.parte_2 h2{
  color: var(--morado);
  text-align: center;

}
.parte_2 p{
  text-align: left;
}
.parte_2 .objeto{
  height: 11rem;
  width: 50%;
  background-color: var(--gris);
  border-radius: 10px;
}

.parte_3{
  display: flex;
      flex-direction: column;
      align-items: center;
}
.parte_3 h2{
  color: var(--fucsia);
  text-align: center;
}
.parte_3 p{
  text-align: left;
}

.parte_4{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.tarjeta1{
  text-align: center;
  border: 1px solid black;
  width: 75%;
  margin: 15px;
  border-radius: 15px;
  background-color: var(--azul);
}

.tarjeta{
  text-align: center;
  background-color: var(--gris);
  width: 75%;
  height: 150px;
  margin: 15px;
  border-radius: 15px;
}
.tarjeta p{
  color:var(--fucsia)
}
.tarjeta2{
  text-align: center;
  background-color: var(--gris_oscuro);
  width: 75%;
  height: 80px;
  margin: 15px;
  border-radius: 15px;
}

footer{
  background-color: blue;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
}

/* responsive para pc */

@media(min-width: 1024px){

  header{
    position: fixed;
    height: 100vh;
    width: 20%;
    border-right: solid 1px var(--blanco);
  }
  .cuerpo{
    margin-left: 20%;
  }
  .logo{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img{
    width: 95px;
  }
  .botones_fijos a{
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    display: none;
  }
  /* menu lateral */
  .btn-menu p{
    display: none;
  }
  input{
    display: none;
  }
  .container-lateral{
    height: 100%;
  }
  .btn-menu{
    height: 100%;
  }
  .cont-menu{
    height: 100%;
  }
  .cont-menu nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cont-menu nav a{
    display: flex;
    align-items: center;
    border: solid 1px var(--blanco) ;
    justify-content: center;
    margin: 0.6vw;
    width: 12vw;
    height: 3.5vw;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.2vw;
  }
  .cont-menu nav a:hover{
		background: var(--azul);
  }
  
  header .numeros{
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--azul);
  }
  .numeros .num1{
    border-radius: 10px;
    background-color: var(--celeste);
    height: 50px;
    width: 80%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
  }
  .numeros h2{
    margin: 15px;
  }
  /* ---------------------- */

  .titulo_1 h1{
    font-size: 40px;
    padding-top: 3vw;
  }

  .titulo_2 h1{
    font-size: 40px;
    height: 6vw;
  }

  .slider .slide{
    width: 6vw;
    margin: 1%;
  }
  .slider .slide img{
    width: 100%;
  }

  .contamos{
    height: 10vw;
  }

  .contamos .ofrecemos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.7vw;
    width: 2vw;
  }

  .servicios{
    display: grid;
    grid-template-columns: 60% auto;
  }
  .servi h2{
    text-align: left;
  }
  .servi p{
    padding-left: 0;
  }
  .servicios .objeto{
    width: 27vw;
    height: 27vw;
    border-radius: 10px;
    background-color: var(--blanco);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-image: url(https://scontent.fcue3-1.fna.fbcdn.net/v/t1.18169-9/11179963_681693908625750_3613144941408014248_n.jpg?_nc_cat=107&cb=99be929b-59f725be&ccb=1-7&_nc_sid=de6eea&_nc_eui2=AeHfrP0whmGp9VY792rarBfkitge3i1t2D2K2B7eLW3YPXD2uu5WPDNHjdxEWjmFrqPMIYxr_TjByHPypIGxxUGP&_nc_ohc=NFHeZ9DWKLAAX-6woFa&_nc_ht=scontent.fcue3-1.fna&oh=00_AfAeFzDp9a9Xec2-f3mhq0EOOb25s5Asp7zXBci3V2udcg&oe=64CC55BD);
  }

  .camp{
    display: grid;
    grid-template-columns: 60% auto;
    padding: 15px;
    flex-direction: row-reverse;
  }
  .camp .objeto{
    width: 27vw;
    height: 27vw;
    border-radius: 10px;
    background-color: var(--gris);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-image: url(https://scontent.fcue3-1.fna.fbcdn.net/v/t39.30808-6/320848492_892502181752198_7671008495928137878_n.png?_nc_cat=103&cb=99be929b-59f725be&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHuX0TlZm0KrrFHGIuqM7j2wRZOqk45UqbBFk6qTjlSpq1NLZaPVzaWtjd7EYKDAiRFAlpwZsrctY6DwtMew7wN&_nc_ohc=_Gr9pXLGZgwAX8q5LKR&_nc_ht=scontent.fcue3-1.fna&oh=00_AfDytt9vGLhKGxvJIlMBxuUih4E85HwitqNW1Erz76mlTA&oe=64AA4C5C);
  }
  .equip{
    display: grid;
    grid-template-columns: auto 68%;
    padding: 15px;
    flex-direction: row-reverse;
  }
  .equip .objeto{
    width: 20vw;
    height: 27vw;
    border-radius: 10px;
    background-color: var(--gris);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-image: url(https://scontent.fcue3-1.fna.fbcdn.net/v/t1.6435-9/126029878_3318191988309249_7858115468318737280_n.jpg?_nc_cat=100&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE5bRvh7dQsuA43G801exVMdJGPhsPvpTh0kY-Gw--lOE0M7ZYjSbQQ_hqqX_9nkDA0l-ks3xMQ6iNU7uoe1ubV&_nc_ohc=XIcDvlDFeIQAX9B0j5U&_nc_ht=scontent.fcue3-1.fna&oh=00_AfAi-dU-JEyVMtHqSpyYFavDH5OS0eZFKjArgUNEE8bnvg&oe=64CC5644);
  }
  .trabajar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .botontoidea{
    display: flex;
    text-align: center;
    align-items: center;
  }
  .boton_idea{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--negro);
  }

  .tarjeta1{
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1.7vw;
  }

  .tarjeta{
    width: 97%;
    display: flex;
  }

  .tarjeta .tarjeta2{
    display: flex;
    width: 25%;
    height: auto;
  }
  .parrafo{
    width: 70%;
  }
  .parrafo .text_extra{
    color: var(--negro¡¡);
  }
}