*{
    margin: 0;
    padding: 0;

}

@media (max-width: 864px){

    /* menu y barra lateral */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        position: fixed;
        top: 0;
        width: 95%;
        border: 1px solid black;
        /* background-color: bisque; */
    }

    .logo{
      height: 65px;
    }

    .logo img{
        width: 65px;
        height: 65px;
    }

/* menu emergente */

	.container .btn-menu label{
		color: black;
		font-size: 200px;
		cursor: pointer;
	}

  #btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;right: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
/* titulos y parrafos */
  .titulo_1{
    margin-top: 115px;
  }
  h1{
    text-align: center;
    font-size: 25px;
  }

  h2{
    text-align: center;
    font-size: 25px;
  }

  p{
    margin: 15px;
  }

  .titulo_2 h1{
    padding: 8px;
    border: 0.5px solid black;
  }

  .container{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }

  .container .objeto{
    height: 35px;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .contamos{
    display: flex;
    padding: 15px;
    border: 1px solid black;
    justify-content: space-between;
  }

  .servicios{
    margin: 15px;
  }
  .servicios p{
    margin: 0;
  }
  .servicios .boton1{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  .botones_fijos{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 5px;
    right: 5px;
  }

  .botones_fijos a{
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    border: 1px solid black;
    background-color: wheat;
    font-weight: bold;
  }

  .parte_4{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .tarjeta{
    text-align: center;
    border: 1px solid black;
    width: 75%;
    height: 150px;
    margin: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .tarjeta1{
    text-align: center;
    border: 1px solid black;
    width: 75%;
    margin: 15px;
    border-radius: 15px;
  }
  .tarjeta2{
    text-align: center;
    border: 1px solid black;
    width: 75%;
    height: 80px;
    margin: 15px;
    border-radius: 15px;
  }

  footer{
    background-color: blue;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: flex-end;
  }

}